<div class="alert" style="color:red">
   <%= flash[:alert] if flash[:alert] %>
</div>

<div>
   <% if session[:user_id] && !!@user %>
      <% binding.pry %>
      <p>Welcome <%= @user.name %></p>
   <% else %>
      <a href='/auth/facebook'>Login with Facebook</a>
      <%= form_tag '/logout' do %>
         <%= submit_tag "LOGOUT" %>
      <% end %>
   <% end %>
</div>